# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md
package.json

# Images
!Consumables.rpgmvp
!mainMenuUI.rpgmvp
!hiru2.rpgmvp
!yoru2.rpgmvp
!msgimg_1.rpgmvp
!msgimg_12.rpgmvp
!msgimg_13.rpgmvp
!msgimg_14.rpgmvp
!msgimg_15.rpgmvp
!msgimg_16.rpgmvp
!msgimg_18.rpgmvp
!msgimg_19.rpgmvp
!msgimg_2.rpgmvp
!msgimg_20.rpgmvp
!msgimg_21.rpgmvp
!msgimg_22.rpgmvp
!msgimg_3.rpgmvp
!msgimg_4.rpgmvp
!msgimg_5.rpgmvp